VITE_SHEET_CSV_URL=https://docs.google.com/spreadsheets/d/<YOUR_SHEET_ID>/export?format=csv&gid=<GID>
VITE_PTTEST_CSV_URL=https://docs.google.com/spreadsheets/d/<YOUR_SHEET_ID>/gviz/tq?tqx=out:csv&sheet=PTtest%2069
VITE_SHEET_UPDATE_URL=https://script.google.com/macros/s/<WEB_APP_ID>/exec
VITE_REFRESH_INTERVAL_MS=10000
